<h1>Edit Duck</h1>

<%= form_for @duck do |f| %>
<%= f.label :name %>
<%= f.text_area :name %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.label :student_id %>
<%= f.collect_selection :student_id, @student, :id, :name  %>
<%= f.submit %>
